@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0%;
    padding: 0%;
}
body,html{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
    scroll-behavior: smooth;
}


#main{
    padding: 2vmax;
}
#main #page1 .head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #33333314;
    width: 80%;
    height: 5vmax;
    margin: auto;
    border-radius:10px ;
}
.links{
    padding: 1vmax;
}
#main #page1 .head .links a{
    font-size: 1.3vmax;
    text-decoration: none;
    padding: 0.8vmax;
    color: black;
}
#main #page1 .head h1{
    font-size: 2.8vmax;
    margin-left: -10vmax;
}

/* Center */
.center{
    text-align: center;
}
.center h2{
    font-size: 6vmax;
    letter-spacing: -2px;
    margin: 8vmax 0 3vmax 0;
}
.center img{
    height: 600px;
}

/* Making Image responsive */
.center img{
    height: 75vh;
    width: 90vw;
    object-fit: cover;
}


/* Page 2 */
#page2{
    margin: 5vmax 0;
}
#page2 h1{
    margin: 2vmax 0;
}
#page2 .project{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10vmax;
}

#page2 .project .projects{
    text-align: center;
    width: 20vmax;
    margin: 2vmax 0;
}
#page2 .project .projects img{
    height: 35vh;
}
#page2 .project .projects h2{
    font-size: 1.6vmax;
    font-family: "Bebas Neue", sans-serif;
}
#page2 .project .projects p{
    font-size: 1vmax;
    letter-spacing: -1.5px;
    margin: 1vmax 0;
}
#page2 .project .projects button{
    padding: 0.5vmax 1vmax;
    color: white;
    background: #000;
    cursor: pointer;
}

/* Contact */
#page3{
    height: 90vh;
}
#page3 .contact{
    margin-left: 15vmax;
}
#page3 .cForm{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10vmax 0;
}
#page3 .cForm .c{
    text-align: center;
}
#page3 .cForm .c .input{
    margin: 2vmax;
}
#page3 .cForm .c .input input[type="text"]{
    width: 2vmax;
    height: 2vmax;
    text-align: center;
    font-size: 1.3vmax;
    padding: 0.5vmax;
}
#page3 .contact h2{
    margin-bottom: 2vmax;
}
#page3 .cForm .c button{
    width: 100%;
    background: #000;
    color: #fff;
    padding: 0.6vmax 1vmax;
    cursor: pointer;
    transition: 1s;
    margin: 2vmax  0;
    cursor: pointer;
}
#page3 .cForm .c button:hover{
    background: #fff;
    color: #000;
}
#page3 .cForm .c a{
    text-decoration: none;
    color: #000;
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer a{
    text-decoration: none;
    color: #000;
    border: 2px solid #000;
    padding: 0.5vmax;
    border-radius: 7px;
    transition: 0.7s;
}
footer a:hover{
    background: #000;
    color: #fff;
}
@media (max-width:700px) {
    .links{
        display: none;
    }

    #main #page1 .head h1{
        margin-left: 22vw;
    }
    #page2 .project{
        flex-direction: column;
        /* align-items: flex-start; */
        margin-left: -30vmax;
    }
}